@import "nullstyle.scss";
//==============================================================================================================================================================================================================================================================================================================================
.container{
	min-width: 100%;
	overflow: hidden;
	display: flex;
	min-height:100%;
}


//==============================================================================================================================================================================================================================================================================================================================
.navigation{
	flex: 0 0 20%;

	background-color: #000;
	color: #fff;
	&__head{
		display: flex;
		&-icon{

		}
		&-title{
			font-size: 30px;
			margin-bottom: 40px;
		}

	}
	&__icon {

	}
	// .navigation__title
	&__title {
		font-size: 20px;
		margin-bottom: 20px;
	}
	li a{
		display: flex;
		color: #fff;
	}
}
img{
	max-width: 100%;
}
//==============================================================================================================================================================================================================================================================================================================================
.content{
	width: 100%;
	background-color: #999;
}
//==============================================================================================================================================================================================================================================================================================================================
.header {
	background-color: #fff;
	width: 100%;
	display: flex;
	justify-content: space-between;
	// .header__input
	&__input {
		width: 281px;
		height: 29px;
		font-family: OpenSans;
		font-size: 13px;
		line-height: 1.2;
		font-weight: 400;
		color: #a9a9a9;
		border-radius:20px;
		padding-left: 30px;
		border: 2px solid #000;
		background-image: url('../img/name-input.png');
		background-repeat: no-repeat;
		background-position: 15px 15px;
	}
	// .header__img
	&__img {

	}
}
.menu {
	// .menu__icon
	&__icon {
		display: block;
				position: relative;
				z-index: 3;
				width: 35px;
				left: 20px;
				top: 5px;
				height: 20px;
				& span{
					transition: all 0.7s ease 0s;
					background-color: #000;
					position: absolute;
					width: 100%;
					height: 3.84px;
					right: 0;
					top: 8px;
				}
				&:before,&:after{
					content: '';
					transition: all 0.7s ease 0s;
					background-color: #000;
					position: absolute;
					width: 100%;
					height: 3.84px;
					right: 0;
				}
				&:before{
					top: 0;
				}
				&:after{ 
					bottom: 0;
				}
				&.active{
					&:before{
						transform:rotate(-45deg);
						top: 7px;
					}
					&:after{ 
						transform:rotate(45deg);
						bottom: 9px;
					}
					& span{
						transform: scale(0);
					}
				}
			}
}

//==============================================================================================================================================================================================================================================================================================================================
.info {
	margin-top: 20px;
	// .info__row
	&__row {
		display: flex;
		justify-content: space-around;
	}
	// .info__column
	&__column {
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 250px;
		width: 100%;
		height: 100px;
		margin: 0 5px;
	}
	// .info__title
	&__title {
		margin-left: 10px;
	}
	// .info__num
	&__num {
		font-size: 30px;
		font-weight: 700;
		color: #000;
		margin-bottom: 10px;
	}
	// .info__subtitle
	&__subtitle {
		font-size: 14px;
		color: #808000;
	}
	// .info__img
	&__img {
	}
}
//==============================================================================================================================================================================================================================================================================================================================
.recent__row{
	display: flex;
	justify-content: space-between;
}
//==============================================================================================================================================================================================================================================================================================================================
.recent {
	margin-top: 20px;
	// .recent__orders
	&__orders {
		background-color: #fff;
		flex:1 0 70%;
		width: 100%;
		margin: 0 20px;
	}
}
.orders {

	// .orders__title
	&__title {
		display: flex;
		justify-content: space-between;
		margin: 20px 20px 15px;
	}
	// .orders__subtitle
	&__subtitle {
		font-size: 30px;
	}
	// .orders__btn
	&__btn {
		font-size: 20px;
		color: #fff;
		background-color: blue;
		border-radius: 7px;
		padding: 7px 7px 5px;
	}
	// .orders__row
	&__row {
		margin: 0 20px;
	}
	// .orders__column
	&__column {
		display: flex;
		justify-content: space-between;
		position: relative;
		margin: 20px 0px;
		&:after{
			content:"";
			position: absolute;
			bottom: -5px;
			width: 100%;
			height: 1px;
			background-color: #000;
		}
	}
	// .orders__name
	&__name {
		font-size: 15px;
		max-width:30%;
		width: 100%;
	}
	// .orders__price
	&__price {
		text-align: right;
		max-width:10%;
		width: 100%;
	}
	// .orders__payment
	&__payment {
		text-align: center;
		max-width:10%;
		width: 100%;
	}
	// .orders__status
	&__status {
		text-align: right;
		border-radius: 5px;
		color: #fff;
		padding: 5px;
	}
}
.head {
	font-size: 20px;
	font-weight: 700;
	color: #000;
	padding: 0;
}
.orders-table {
}
.delivered {

	background-color: green;
}

//==============================================================================================================================================================================================================================================================================================================================
.recent {
	// .recent__customers
	&__customers {
		background-color: #fff;
		width: 100%;
		margin: 0 10px 0 0;
	}
}
.customers {
	&__head{
		font-size: 25px;
		font-weight: 700;
		margin: 10px 12px 0;
	}
	// .customers__row
	&__row {
		margin: 10px 20px 0;
		display: flex;
		flex-direction:column;
	}
	// .customers__column
	&__column {
		display: flex;
		margin: 10px 0;
	}
	// .customers__img
	&__img {
		margin-right: 10px;
	}
	// .customers__title
	&__title {
		font-size: 20px;
		font-weight: 700;
	}
	// .customers__subtitle
	&__subtitle {
		font-size: 15px;
	}
}

//==============================================================================================================================================================================================================================================================================================================================
